body {background-color:#42362F; text-align:center;}

h3 {font-size: 60px; text-align: center; color: #FFB5C7}
h9 {font-size: 50px; text-align: center; color: #FFB5C7;}
p {font-size: 30px; text-align: center;}
img{}
b {color: #FFB5C7; font-size: 40px}
header, footer {background-color: #F2B3B3} 
ul{text-align: center; font-size: 30px}
.PRIMEIROPARAGRAFO {text-align: center; font-size: 18px; color:#FFFBC7; }
.SEGUNDOPARAGRAFO {text-align: center; font-size: 18px; color:#FFFBC7;  }
h4{color: white; font-size: 60px;}